<div id="main-wrapper" [ngClass]="{ 'show-sidebar': showMobileMenu }" dir="ltr" data-theme="light"
  data-layout="vertical" [attr.data-sidebartype]="sidebartype" data-sidebar-position="absolute"
  data-header-position="absolute" data-boxed-layout="full">

  <header class="topbar" data-navbarbg="skin5">
    <nav class="d-flex top-navbar navbar-expand-lg navbar-light">
      <div class="navbar-header" [ngClass]="expandLogo ? 'expand-logo' : ''" data-logobg="skin5">
        <a class="navbar-brand" href="/">       
          <span class="logo-text">
         <span><b class="text-white">EV Digital</b></span>
          </span>
        </a>
      </div>
    </nav>
  </header>

  <div class="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer text-center">
      Designed and Developed by
      <a href="">R.K.H</a>.
    </footer>
  </div>
</div>